<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/lib/vendor/bootstrap/stylesheets/styles.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://apis.google.com/js/client.js"></script>
    <script data-main="/javascripts/main" src="/javascripts/require.js" ></script>


  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>

      <hr/>
      <div id="pages">
      </div>
    </div> <!-- /container -->
  </body>
</html>