 <form method="post" action="/account">
        <legend>Light Speed!</legend>
        <label>Google Analytics User ID</label>
        <input type="text" placeholder="Account ID...">
        <!--<span class="help-block">Example block-level help text here.</span>-->

        <label>Password</label>
        <input type="password" placeholder="">
        <span class="help-block">Stored locally to connect to Google Analytics.</span>

        <label>Profile ID</label>
        <input type="text" placeholder="ga:<nnnnnnnnn>'">
        <span class="help-block">In GA, Admin &raquo; Profile Settings</span>
        <button type="submit" class="btn">Submit</button>
 </form>